.main {
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.rating span {
  font-size: 50px;
  cursor: pointer;
  margin: 0 5px;
}

.rating span.active {
  color: #FC034E;
}